body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

h1 {
  color: #333;
}

h2 {
  color: #555;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 15px;
}

strong {
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.copy-button {
  border: none;
  background: none;
  cursor: pointer;
  color: #007bff;
  transition: color 0.3s, transform 0.3s, text-shadow 0.3s;
}

.copy-button:hover,
.copy-button:active {
  color: #0056b3;
  transform: translateY(1px);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.copy-icon {
  margin-right: 5px;
}

.copied-text {
  color: #4caf50;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.copied-text.show {
  opacity: 1;
}