body{
    font-family: Karla, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    background-color: rgb(23, 23, 23);
}
.inst{
    padding: 0 220px;
}
.tg{
    padding: 0 223px;
}
.tt{
    padding: 0 232px;
}
.sc{
    padding: 0 211px;
}
.yt{
    padding: 0 225px;
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 92vh;
    text-align:center;
}
* {
    padding: 0;
    box-sizing: border-box;
}
ul li{
    position: relative;
    list-style: none;
}
ul li a{
    display: inline-block;
    box-sizing: border-box;
    margin: 0 15px 15px 0;
    outline: none;
    border: 2px solid #656565;
    border-radius: 50px;
    height: 58px;
    line-height: 58px;
    font-weight: 600;
    text-decoration: none;
    color: #e2e2e2;
    background-color: #656565;
    cursor: pointer;
    user-select: none;
    appearance: none;
    vertical-align: top;
    text-decoration: none;
    transition: .2s
}
ul li a:hover{
    background-color: rgb(23, 23, 23);
    color: #767676;
    transition-delay: .02s;
}
ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer {
    display: flex;
    justify-content: center;
    color: #fff;
}
p{
    position: absolute;
}
