body {
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
    padding: 20px;
    margin: 35px;
    min-width: 150vh;
}
h2 {
    text-align: center;
    color: #007bff;
}
table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 15px;
    overflow: hidden;
    
}
th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}

.td-day {
    font-weight: bold;
}

.td-lessons {
    font-size: 0.9em;
}

.td-less, .td-none {
    padding: 15px;
}

.td-less {
    padding-top: 10px;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
.td-dayb {
    font-weight: bold;
    color: white;
    background-color: #007bff;
}
.td-lessb {
    color: white;
    padding: 15px;
    background-color: #007bff;
}
.td-noneb{
    background-color: #007bff;
}